@import url(https://fonts.googleapis.com/css?family=Lato:700,400,400italic);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -4em;
  background-color: #092928;
  color: #EFEEED;
  font-weight: 100;
  padding: 0.75em 0.75em;
  text-decoration: none;
  z-index: 100;
}

.skip-links a:focus {
  top: 0;
}

.header {
  background-color: #092928;
  height: 4.1em;
}

img {
  display: block;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  background-color: #092928;
}

.icon-hamberger {
  position: relative;
  right: .5em;
  font-size: 35px;
}

.logo {
  position: relative;
  top: 10px;
  float: left;
  left: .5em;
  width: 7em;
}

.navigation {
  background-color: #092928;
}

.navigation ul {
  padding: 1em;
}

.navigation li {
  padding: 0;
  border-bottom: 3px solid #092928;
}

.navigation li:hover {
  border-bottom: 3px solid #3DBB9A;
}

.navigation li a {
  display: block;
  text-decoration: none;
  color: #EFEEED;
  display: block;
  padding: .5em 1em;
}

.icon-hamberger,
.icon-close {
  float: right;
  color: #EFEEED;
  text-decoration: none;
  height: 40px;
  width: 40px;
}

.icon-hamberger:before,
.icon-close:before {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 13px 11px;
}

.icon-hamberger span,
.icon-close span {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media only screen and (max-width: 38em) {
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 2;
  }
  .site-wrapper .sliding-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #092928;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    transition: all 300ms ease-in-out;
  }
  .site-wrapper[data-state="slide-open"] .sliding-canvas {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .site-wrapper[data-state="slide-open"] {
    overflow: hidden;
  }
  .slide-menu {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    min-height: 800px;
    padding: 0;
    margin: 0;
  }
  .slide-menu .list {
    padding: 1em;
  }
}

@media only screen and (min-width: 38em) {
  .icon-hamberger,
  .icon-close {
    display: none;
  }
  .icon-hamberger:before,
  .icon-close:before {
    display: none;
  }
  .navigation {
    text-align: right;
    padding-right: 2em;
  }
  .navigation li {
    display: inline-block;
  }
}

.icon-search {
  color: #EFEEED;
}

@media only screen and (min-width: 38em) and (max-width: 50em) {
  .list {
    font-size: 15px;
  }
  .list a {
    padding: 0;
  }
}

body.noscript .navigation {
  position: static;
  right: auto;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

h5 {
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
}

.signin {
  text-decoration: none;
  color: #EFEEED;
}

.signin:hover {
  color: #bcbcbc;
}

.copyright {
  color: #EFEEED;
  text-align: center;
  padding: 2em;
  display: block;
}

@media screen and (min-width: 38em) {
  .copyright {
    text-align: right;
    padding-top: 0;
  }
}

.icon {
  text-align: center;
}

@media screen and (min-width: 38em) {
  .icon {
    text-align: right;
    margin-right: 1em;
  }
}

.icon i {
  color: #3DBB9A;
  font-size: 2em;
  margin: .25em;
  display: inline;
}

.icon i:hover {
  color: #339f82;
}

@media screen and (min-width: 38em) {
  .icon i {
    font-size: 3em;
    margin-left: .5em;
    display: inline-block;
  }
}

@media screen and (min-width: 38em) {
  .graph {
    float: left;
  }
}

@media screen and (min-width: 60em) {
  .graph {
    padding-top: 1em;
  }
}

.graph-img {
  display: block;
  margin: auto;
  padding-bottom: .5em;
  width: 8em;
}

@media screen and (min-width: 38em) {
  .graph-img {
    margin-left: 6em;
    padding-bottom: 1.5em;
    width: 6em;
  }
}

ul {
  list-style-type: none;
}

.stat-title {
  font-size: 1.25em;
  text-align: center;
  color: #EFEEED;
}

@media screen and (min-width: 38em) {
  .stat-title {
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding: 0;
  }
}

.graph-stat {
  text-align: center;
  padding-right: 2em;
  color: #EFEEED;
}

@media screen and (min-width: 38em) {
  .graph-stat {
    text-align: center;
  }
}

.address {
  font-size: .8em;
  text-align: center;
  padding-right: 3em;
  color: #EFEEED;
}

@media screen and (min-width: 38em) {
  .address {
    text-align: right;
  }
}

@media screen and (min-width: 60em) {
  .address {
    padding-top: 3em;
  }
}

@media screen and (min-width: 60em) {
  .donate {
    position: absolute;
    right: 40%;
    padding-top: 3em;
  }
}

.donate-btn {
  text-align: center;
  display: block;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #EFEEED;
  text-decoration: none;
  color: #EFEEED;
  font-size: 1.5em;
  background-color: #3DBB9A;
  margin: auto;
  width: 200px;
  margin-bottom: 1em;
}

.donate-btn:hover {
  background-color: #339f82;
}

.donate-btn a {
  text-decoration: none;
  color: #EFEEED;
}

footer {
  background-color: #092928;
  position: relative;
  z-index: 1000;
}

/*
  Gridifier || Code released under the UNLICENSE
  http://thomasjbradley.github.io/gridifier/#xs,6,0,0,0;s,6,25,0,0;m,6,38,1,1;l,6,60,1,1
*/
.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

[class*="unit-push-"], [class*="unit-pull-"] {
  position: relative;
}

.unit-xs-hidden {
  display: none;
  visibility: hidden;
}

.unit-xs-centered {
  margin: 0 auto;
}

.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-xs-1-2, .xs-1-2 {
  width: 50.0000%;
}

.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%;
}

.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%;
}

.unit-xs-1-4, .xs-1-4 {
  width: 25.0000%;
}

.unit-xs-3-4, .xs-3-4 {
  width: 75.0000%;
}

.unit-xs-1-5, .xs-1-5 {
  width: 20.0000%;
}

.unit-xs-2-5, .xs-2-5 {
  width: 40.0000%;
}

.unit-xs-3-5, .xs-3-5 {
  width: 60.0000%;
}

.unit-xs-4-5, .xs-4-5 {
  width: 80.0000%;
}

.unit-xs-1-6, .xs-1-6 {
  width: 16.6667%;
}

.unit-xs-5-6, .xs-5-6 {
  width: 83.3333%;
}

.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3, .unit-xs-1-4, .xs-1-4, .unit-xs-3-4, .xs-3-4, .unit-xs-1-5, .xs-1-5, .unit-xs-2-5, .xs-2-5, .unit-xs-3-5, .xs-3-5, .unit-xs-4-5, .xs-4-5, .unit-xs-1-6, .xs-1-6, .unit-xs-5-6, .xs-5-6 {
  display: inline-block;
  visibility: visible;
}

@media only screen and (min-width: 25em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-centered {
    margin: 0 auto;
  }
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-s-1-2, .s-1-2 {
    width: 50.0000%;
  }
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%;
  }
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%;
  }
  .unit-s-1-4, .s-1-4 {
    width: 25.0000%;
  }
  .unit-s-3-4, .s-3-4 {
    width: 75.0000%;
  }
  .unit-s-1-5, .s-1-5 {
    width: 20.0000%;
  }
  .unit-s-2-5, .s-2-5 {
    width: 40.0000%;
  }
  .unit-s-3-5, .s-3-5 {
    width: 60.0000%;
  }
  .unit-s-4-5, .s-4-5 {
    width: 80.0000%;
  }
  .unit-s-1-6, .s-1-6 {
    width: 16.6667%;
  }
  .unit-s-5-6, .s-5-6 {
    width: 83.3333%;
  }
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3, .unit-s-1-4, .s-1-4, .unit-s-3-4, .s-3-4, .unit-s-1-5, .s-1-5, .unit-s-2-5, .s-2-5, .unit-s-3-5, .s-3-5, .unit-s-4-5, .s-4-5, .unit-s-1-6, .s-1-6, .unit-s-5-6, .s-5-6 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 38em) {
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-centered {
    margin: 0 auto;
  }
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-m-0 {
    margin-left: 0;
  }
  .unit-push-m-0,
  .unit-pull-m-0 {
    left: 0;
  }
  .unit-m-1-2, .m-1-2 {
    width: 50.0000%;
  }
  .unit-offset-m-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-m-1-2 {
    left: 50.0000%;
  }
  .unit-pull-m-1-2 {
    left: -50.0000%;
  }
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%;
  }
  .unit-offset-m-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-m-1-3 {
    left: 33.3333%;
  }
  .unit-pull-m-1-3 {
    left: -33.3333%;
  }
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%;
  }
  .unit-offset-m-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-m-2-3 {
    left: 66.6667%;
  }
  .unit-pull-m-2-3 {
    left: -66.6667%;
  }
  .unit-m-1-4, .m-1-4 {
    width: 25.0000%;
  }
  .unit-offset-m-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-m-1-4 {
    left: 25.0000%;
  }
  .unit-pull-m-1-4 {
    left: -25.0000%;
  }
  .unit-m-3-4, .m-3-4 {
    width: 75.0000%;
  }
  .unit-offset-m-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-m-3-4 {
    left: 75.0000%;
  }
  .unit-pull-m-3-4 {
    left: -75.0000%;
  }
  .unit-m-1-5, .m-1-5 {
    width: 20.0000%;
  }
  .unit-offset-m-1-5 {
    margin-left: 20.0000%;
  }
  .unit-push-m-1-5 {
    left: 20.0000%;
  }
  .unit-pull-m-1-5 {
    left: -20.0000%;
  }
  .unit-m-2-5, .m-2-5 {
    width: 40.0000%;
  }
  .unit-offset-m-2-5 {
    margin-left: 40.0000%;
  }
  .unit-push-m-2-5 {
    left: 40.0000%;
  }
  .unit-pull-m-2-5 {
    left: -40.0000%;
  }
  .unit-m-3-5, .m-3-5 {
    width: 60.0000%;
  }
  .unit-offset-m-3-5 {
    margin-left: 60.0000%;
  }
  .unit-push-m-3-5 {
    left: 60.0000%;
  }
  .unit-pull-m-3-5 {
    left: -60.0000%;
  }
  .unit-m-4-5, .m-4-5 {
    width: 80.0000%;
  }
  .unit-offset-m-4-5 {
    margin-left: 80.0000%;
  }
  .unit-push-m-4-5 {
    left: 80.0000%;
  }
  .unit-pull-m-4-5 {
    left: -80.0000%;
  }
  .unit-m-1-6, .m-1-6 {
    width: 16.6667%;
  }
  .unit-offset-m-1-6 {
    margin-left: 16.6667%;
  }
  .unit-push-m-1-6 {
    left: 16.6667%;
  }
  .unit-pull-m-1-6 {
    left: -16.6667%;
  }
  .unit-m-5-6, .m-5-6 {
    width: 83.3333%;
  }
  .unit-offset-m-5-6 {
    margin-left: 83.3333%;
  }
  .unit-push-m-5-6 {
    left: 83.3333%;
  }
  .unit-pull-m-5-6 {
    left: -83.3333%;
  }
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3, .unit-m-1-4, .m-1-4, .unit-m-3-4, .m-3-4, .unit-m-1-5, .m-1-5, .unit-m-2-5, .m-2-5, .unit-m-3-5, .m-3-5, .unit-m-4-5, .m-4-5, .unit-m-1-6, .m-1-6, .unit-m-5-6, .m-5-6 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 60em) {
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-centered {
    margin: 0 auto;
  }
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-l-0 {
    margin-left: 0;
  }
  .unit-push-l-0,
  .unit-pull-l-0 {
    left: 0;
  }
  .unit-l-1-2, .l-1-2 {
    width: 50.0000%;
  }
  .unit-offset-l-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-l-1-2 {
    left: 50.0000%;
  }
  .unit-pull-l-1-2 {
    left: -50.0000%;
  }
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%;
  }
  .unit-offset-l-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-l-1-3 {
    left: 33.3333%;
  }
  .unit-pull-l-1-3 {
    left: -33.3333%;
  }
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%;
  }
  .unit-offset-l-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-l-2-3 {
    left: 66.6667%;
  }
  .unit-pull-l-2-3 {
    left: -66.6667%;
  }
  .unit-l-1-4, .l-1-4 {
    width: 25.0000%;
  }
  .unit-offset-l-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-l-1-4 {
    left: 25.0000%;
  }
  .unit-pull-l-1-4 {
    left: -25.0000%;
  }
  .unit-l-3-4, .l-3-4 {
    width: 75.0000%;
  }
  .unit-offset-l-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-l-3-4 {
    left: 75.0000%;
  }
  .unit-pull-l-3-4 {
    left: -75.0000%;
  }
  .unit-l-1-5, .l-1-5 {
    width: 20.0000%;
  }
  .unit-offset-l-1-5 {
    margin-left: 20.0000%;
  }
  .unit-push-l-1-5 {
    left: 20.0000%;
  }
  .unit-pull-l-1-5 {
    left: -20.0000%;
  }
  .unit-l-2-5, .l-2-5 {
    width: 40.0000%;
  }
  .unit-offset-l-2-5 {
    margin-left: 40.0000%;
  }
  .unit-push-l-2-5 {
    left: 40.0000%;
  }
  .unit-pull-l-2-5 {
    left: -40.0000%;
  }
  .unit-l-3-5, .l-3-5 {
    width: 60.0000%;
  }
  .unit-offset-l-3-5 {
    margin-left: 60.0000%;
  }
  .unit-push-l-3-5 {
    left: 60.0000%;
  }
  .unit-pull-l-3-5 {
    left: -60.0000%;
  }
  .unit-l-4-5, .l-4-5 {
    width: 80.0000%;
  }
  .unit-offset-l-4-5 {
    margin-left: 80.0000%;
  }
  .unit-push-l-4-5 {
    left: 80.0000%;
  }
  .unit-pull-l-4-5 {
    left: -80.0000%;
  }
  .unit-l-1-6, .l-1-6 {
    width: 16.6667%;
  }
  .unit-offset-l-1-6 {
    margin-left: 16.6667%;
  }
  .unit-push-l-1-6 {
    left: 16.6667%;
  }
  .unit-pull-l-1-6 {
    left: -16.6667%;
  }
  .unit-l-5-6, .l-5-6 {
    width: 83.3333%;
  }
  .unit-offset-l-5-6 {
    margin-left: 83.3333%;
  }
  .unit-push-l-5-6 {
    left: 83.3333%;
  }
  .unit-pull-l-5-6 {
    left: -83.3333%;
  }
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4, .unit-l-1-5, .l-1-5, .unit-l-2-5, .l-2-5, .unit-l-3-5, .l-3-5, .unit-l-4-5, .l-4-5, .unit-l-1-6, .l-1-6, .unit-l-5-6, .l-5-6 {
    display: inline-block;
    visibility: visible;
  }
}

.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
      flex-grow: 2;
  max-width: 100%;
  /* @bugfix: IE 10, 11 */
}

.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

html {
  font: normal 100%/1.5 Georgia,serif;
}

@media only screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 130%;
  }
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1rem;
}

.yotta {
  font-size: 2.2807rem;
  line-height: 1.3154;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.6648;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.8729;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.0535;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.3333;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.8984;
}

sub,
sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.push-quarter, .push-1-4 {
  margin-bottom: 0.3750rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.3750rem;
}

.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.3750rem;
}

.island {
  padding: 1.5rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-quarter, .island-1-4 {
  padding: 0.3750rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-quarter, .gutter-1-4 {
  padding-left: 0.3750rem;
  padding-right: 0.3750rem;
}

.article {
  padding: 2em;
  margin: 0;
}

.flex {
  display: block;
  width: 100%;
}

.shop-h1 {
  color: #3DBB9A;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.shop-h1-title {
  color: #000;
  text-decoration: none;
  font-family: Lato, sans-serif;
  text-align: center;
}

.shop-h2 {
  color: #F16067;
}

.shop-h3 {
  color: #3DBB9A;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.shop-h4-title {
  color: #3DBB9A;
  text-decoration: none;
  font-family: Lato, sans-serif;
  text-align: center;
}

.shop-h4-adopt {
  color: #3DBB9A;
}

.shop-h4 {
  color: #F16067;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.i-about {
  text-decoration: none;
}

.shop-link {
  text-decoration: none;
  color: #F16067;
}

.shop-link:hover {
  color: #d9464d;
}

.shop-paragraph {
  color: #000;
  font-family: Lato, sans-serif;
}

.shop-piece {
  box-sizing: border-box;
}

.shop-piece-opacity {
  width: 100%;
}

.shop-piece-opacity:hover {
  opacity: .70;
}

.news {
  text-align: left;
}

@media only screen and (max-width: 38em) {
  .news {
    padding: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .news {
    padding-right: 12em;
  }
}

.news h3 {
  text-align: center;
}

.news h4 {
  color: #3DBB9A;
}

.news .fixednav {
  padding-right: 1em;
}

.news-h1 {
  padding-top: 1em;
  text-align: center;
}

.news-section {
  margin: 0;
  box-sizing: border-box;
}

.news-section-image {
  width: 100%;
}

.news-section-image:hover {
  opacity: .70;
}

.news-section-title {
  text-align: center;
  text-decoration: none;
  color: #F16067;
}

.news-section-title:hover {
  color: #d9464d;
}

.i-news {
  padding-left: 2em;
  text-align: center;
  padding-right: 2em;
}

.i-news h2 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  border-bottom: 1px solid #DBDBDB;
  line-height: 25px;
}

.i-news p {
  padding-top: 5px;
  padding-left: .5em;
  text-align: left;
}

.news-img {
  width: 100%;
}

.news-h3 {
  text-align: center;
  color: #3DBB9A;
}

.news-h4 {
  text-align: center;
  color: #3DBB9A;
}

.news-h5 {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  color: #3DBB9A;
}

.news-links {
  text-decoration: none;
  color: #F16067;
}

.news-links:hover {
  color: #d9464d;
}

.news-comments {
  text-align: left;
  color: #3DBB9A;
}

.news-form {
  width: 100%;
}

.news-add-comment {
  color: #3DBB9A;
  padding-bottom: 0.5em;
}

.news-comment-box {
  padding-bottom: 0.5em;
}

.news-form-name {
  width: 100%;
  font-size: 14px;
}

@media only screen and (min-width: 38em) {
  .news-form-name {
    width: 50%;
  }
}

.news-form-comment {
  width: 100%;
  height: 100px;
  font-size: 14px;
}

.news-form-comments-list {
  padding: 0;
}

.news-form-list-item {
  list-style: none;
  font-size: 1.25em;
  padding: 0.5em;
  min-height: 3em;
  border-bottom: 1px dashed black;
}

.news-form-list-item:first-child {
  border-top: 1px dashed black;
}

.news-form-list-comment {
  margin: 0;
  font-size: 0.7901em;
  padding: 0;
  position: relative;
}

.news-form-list-name {
  color: #3DBB9A;
  font-size: 0.7901em;
  margin: 0;
}

.news-btn-comment {
  text-align: center;
  display: block;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #EFEEED;
  text-decoration: none;
  color: #EFEEED;
  font-size: 1.5em;
  background-color: #3DBB9A;
  width: 100px;
}

.news-btn-comment:hover {
  background-color: #339f82;
}

.bg {
  background-color: #fff;
}

.contain {
  color: #3DBB9A;
  text-align: center;
}

.input {
  height: 30px;
  width: 250px;
  margin: 5px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #3DBB9A;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #F16067;
}

.btn-submit {
  height: 30px;
  width: 180px;
  margin: 18px auto;
  line-height: 30px;
  background-color: #3DBB9A;
  color: #EFEEED;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #EFEEED;
}

.btn-submit:hover {
  background-color: #339c81;
}

.btn-submit:focus {
  color: #EFEEED;
  text-decoration: none;
  list-style-type: none;
}

.btn-submit a {
  color: #EFEEED;
  text-decoration: none;
  list-style-type: none;
}

.p {
  margin: 0;
  display: block;
  text-align: center;
  font-size: 15px;
}

.p a {
  color: #DBDBDB;
  text-decoration: none;
  list-style-type: none;
}

.p a:hover {
  color: #000;
}

.p a:focus {
  text-decoration: none;
  color: #F16067;
}

.b-0 {
  margin-bottom: 0;
}

.text {
  text-align: center;
  display: block;
}

.text h1 {
  color: #3DBB9A;
  margin: 0;
  font-size: 4em;
}

.text p {
  color: #000;
}

.check {
  text-align: center;
  font-size: 15px;
}

@media only screen and (min-width: 32em) {
  .s-left {
    float: left;
  }
  .s-right {
    float: right;
  }
  .divider {
    border-right: 1px solid #DBDBDB;
    padding: 0;
    margin: 0;
  }
  .contain {
    padding: 1em;
  }
}

.billboard_i {
  width: 100%;
  height: 50vh;
  position: relative;
}

.i-carousel {
  overflow: hidden;
  width: 100%;
  height: 12.5em;
  display: block;
}

.i-carousel .i-panes {
  padding: 0;
  width: 500%;
  overflow: hidden;
  position: relative;
  list-style-type: none;
  -webkit-animation: carousel 30s infinite;
          animation: carousel 30s infinite;
}

.i-carousel .i-panes > li {
  position: relative;
  float: left;
  width: 20%;
}

.i-carousel img {
  display: block;
  width: 100%;
  max-width: 100%;
}

@-webkit-keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media only screen and (max-width: 38em) {
  .i-carousel {
    height: 12em;
  }
}

@media only screen and (min-width: 38em) {
  .i-carousel {
    height: 23em;
  }
}

.idonate-btn {
  color: #EFEEED;
  background-color: #3DBB9A;
  width: 100%;
  border: none;
  height: 50px;
  padding: 0;
  font-size: 25px;
}

.idonate-btn:hover {
  background-color: #339c81;
}

.idonate-btn div {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.idonate-btn a {
  color: #DBDBDB;
  text-decoration: none;
  list-style-type: none;
}

.idonate-btn a:link {
  text-decoration: none;
  color: #F16067;
}

.isign-btn {
  color: #EFEEED;
  background-color: #3DBB9A;
  width: 100%;
  border: none;
  height: 50px;
  padding: 0;
  font-size: 25px;
  border-left: 1px solid #DBDBDB;
}

.isign-btn:hover {
  background-color: #339c81;
}

.isign-btn div {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 60em) {
  background-color: #3DBB9A;
  border-left: 1px solid #DBDBDB;
  :hover {
    background-color: #339c81;
  }
  .i-carousel {
    height: 30em;
  }
}

.i-about {
  padding-left: 2em;
  text-align: center;
  padding-right: 2em;
}

.i-about a {
  border: none;
  text-decoration: none;
  color: #000;
}

.i-about h2 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  border-bottom: 1px solid #DBDBDB;
  line-height: 25px;
}

.i-about p {
  padding-top: 5px;
  padding-left: .5em;
  text-align: left;
}

.bucket {
  position: relative;
  padding-right: 2em;
}

.news-img {
  width: 100%;
  display: inline-block;
}

@media only screen and (max-width: 60em) {
  .text-bucket {
    padding-right: 2em;
  }
}

@media only screen and (min-width: 60em) {
  .latest-news {
    display: block;
  }
}

.l-length {
  overflow: hidden;
  max-width: 75ch;
}

.embed-item {
  position: absolute;
  left: 2em;
  width: 90%;
  height: 90%;
  top: 0;
}

.embed {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.embed-16by9 {
  padding: 30%;
}

.space {
  padding-right: 2em;
}

.frontpage {
  width: 100%;
  height: 20%;
}

.latest-news {
  background-color: #EFEEED;
}

#overlay {
  background-color: rgba(61, 187, 154, 0.6);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
}

#box-ln {
  background: url("../img/news-year-in-review.jpg");
  background-size: cover;
}

#box-ln:hover #overlay {
  opacity: 1;
}

#box-ln-1 {
  background: url("../img/news-tortoise-close-up.jpg");
  background-size: cover;
}

#box-ln-1:hover #overlay {
  opacity: 1;
}

#box-ln-2 {
  background: url("../img/news-galapagos-islands.jpg");
  background-size: cover;
}

#box-ln-2:hover #overlay {
  opacity: 1;
}

#box-ln-3 {
  background: url("../img/island-santa-fe.jpg");
  background-size: cover;
}

#box-ln-3:hover #overlay {
  opacity: 1;
}

#box-ln-4 {
  background: url("../img/news-darwin-finch.jpg");
  background-size: cover;
}

#box-ln-4:hover #overlay {
  opacity: 1;
}

#box-ln-5 {
  background: url("../img/news-giant-tortoise-3.jpg");
  background-size: cover;
}

#box-ln-5:hover #overlay {
  opacity: 1;
}

<<<<<<< HEAD

=======
>>>>>>> gh-pages
#img-s-1 {
  background: url("../img/shop-other-sale-3.jpg");
  background-size: cover;
}

#img-s-1:hover #overlay {
  opacity: 1;
}

#img-s-2 {
  background: url("../img/shop-poster-sale-1.jpg");
  background-size: cover;
}

#img-s-2:hover #overlay {
  opacity: 1;
}

#img-s-3 {
  background: url("../img/shop-sale-kids.jpg");
  background-size: cover;
}

#img-s-3:hover #overlay {
  opacity: 1;
}

<<<<<<< HEAD

=======
>>>>>>> gh-pages
#text {
  color: #fff;
  padding: 0;
  margin: 0;
}

.span {
  padding: 0;
  margin: 0;
}

.about {
  padding-top: 1em;
  text-align: left;
}

@media only screen and (max-width: 38em) {
  .about {
    padding: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .about {
    padding-right: 12em;
  }
}

.about h1 {
  text-align: center;
}

.about h2 {
  text-align: center;
}

.about h3 {
  text-align: center;
}

.about h4 {
  color: #3DBB9A;
}

.about li {
  text-align: left;
}

.beach {
  width: 100%;
  padding-bottom: 30px;
}

.reports a {
  text-decoration: none;
  color: #F16067;
}

.reports a:hover {
  color: #d9464d;
}

.funding a {
  text-decoration: none;
  color: #F16067;
}

.funding a:hover {
  color: #d9464d;
}

.mlist {
  list-style-type: circle;
}

.fixednav {
  border-radius: 5px;
  position: fixed;
  top: 4.1em;
  width: auto;
  padding: 1em;
  padding-left: 3em;
  padding-right: 2em;
  left: -5px;
  background-color: #EFEEED;
}

.fixednav li {
  padding: .25em;
  list-style-type: none;
}

.fixednav a {
  color: #3DBB9A;
  text-decoration: none;
}

.fixednav a:hover {
  color: #339f82;
}

@media only screen and (max-width: 38em) {
  .fixednav {
    display: none;
  }
}

@media only screen and (max-height: 40em) {
  .fixednav {
    top: 5.5em;
    font-size: .75em;
  }
}

.galapagos {
  padding-top: 1em;
  text-align: left;
}

@media only screen and (max-width: 38em) {
  .galapagos {
    padding: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .galapagos {
    padding-right: 12em;
  }
}

.galapagos li {
  list-style-type: circle;
}

.fixednav li li {
  list-style-type: none;
}

.fixednav li h1 {
  text-align: center;
}

.fixednav li h2 {
  text-align: center;
}

.fixednav li h3 {
  text-align: center;
}

.fixednav li h4 {
  text-align: left;
  padding-left: .5em;
  color: #3DBB9A;
}

strong {
  color: #3DBB9A;
}

a {
  text-decoration: none;
}

.btn-island {
  text-align: center;
  display: block;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #EFEEED;
  text-decoration: none;
  color: #EFEEED;
  font-size: 1.5em;
  background-color: #3DBB9A;
  padding-bottom: 0;
  padding-top: 20px;
  width: 100%;
}

.btn-island:hover {
  background-color: #339f82;
}

.islandinfo {
  padding-top: 1em;
}

.islandinfo li {
  list-style-type: none;
}

.espanola {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.fernandina {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.genovesa {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.isabela {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.marchena {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.pinta {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.sancristobal {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.santacruz {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.santiago {
  display: none;
  position: relative;
  transition: all 150ms linear;
}

.js-showhide {
  display: block;
}

.left {
  width: 300%;
}

@media only screen and (max-width: 38em) {
  .left {
    width: 100%;
  }
}

.middle {
  width: 300%;
  left: -100%;
}

@media only screen and (max-width: 38em) {
  .middle {
    width: 100%;
    left: 0px;
  }
}

.right {
  width: 300%;
  left: -200%;
}

@media only screen and (max-width: 38em) {
  .right {
    width: 100%;
    left: 0px;
  }
}

.conservation {
  padding-top: 1em;
  padding-left: 2em;
  text-align: left;
}

@media only screen and (max-width: 38em) {
  .conservation {
    padding: 2em;
  }
}

@media only screen and (min-width: 75em) {
  .conservation {
    padding-right: 12em;
  }
}

.conservation h1 {
  text-align: center;
}

.conservation h2 {
  text-align: center;
  border: none;
}

.conservation h3 {
  text-align: center;
}

.conservation h4 {
  color: #3DBB9A;
}

.conservation .fixednav {
  padding: 1.5em;
}

.conservation .list li {
  list-style-type: circle;
  background-color: #fff;
}

.conservation li {
  text-align: left;
}

.cimg {
  width: 100%;
  padding-bottom: 30px;
}

li {
  text-align: left;
}

/* galapagos-conservancy */
@font-face {
  font-family: "galapagos-conservancy";
  src: url("https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/fonts/1456441550.eot");
  src: url("https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/fonts/1456441550.eot?#iefix") format("embedded-opentype"), url("https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/fonts/1456441550.woff") format("woff"), url("https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/fonts/1456441550.ttf") format("truetype"), url("https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/fonts/1456441550.svg#galapagos-conservancy") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "galapagos-conservancy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "galapagos-conservancy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\62";
}

.icon-twitter:before {
  content: "\63";
}

.icon-youtube:before {
  content: "\65";
}

.icon-facebook:before {
  content: "\64";
}

.icon-instagram:before {
  content: "\61";
}

.icon-search:before {
  content: "\66";
}

.icon-logo:before {
  content: "\67";
}

.icon-shop:before {
  content: "\68";
}

.icon-hamberger:before {
  content: "\69";
}

.icon-close:before {
  content: "\6a";
}

/*# sourceMappingURL=style.css.map */