.about {
    padding: 2em;
    padding-left: 12em;
    text-align: left;
    @media only screen and (max-width: 38em) {
    padding: none;
    }

}

.h1about {
    text-align: center;
}

.h2about {
    text-align: center;
    font-size: 2em;
}

.h4about {
    font-size: 1em;
    color: $teal;
}

.reports a {
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }

}

.funding a {
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }

}

.mlist {
    list-style-type:disc;
}

.fixednav {
    border-radius: 5px;
    position: fixed;
    top: 4.25em;
    width: 8em;
    padding:1em;
    padding-left: 2.2em;
    left:-5px;
    background-color: $off-white;
    a {
        color: $teal;
        text-decoration: none;
        &:hover {
        color: $dark-teal;
        }
    }
    @media only screen and (max-width: 38em){
        display:none;
    }

}