.galapagos {
    padding: 2em;
    text-align: left;
    @media only screen and (max-width: 38em) {
    padding: 2em;
    }
    @media only screen and (min-width: 75em) {
    padding-right: 12em;
    }
    li {
        list-style-type: circle;
    }
    .fixednav  li{
        list-style-type: none;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    h4 {
        color: $teal;
    }

}

.gimg {
    width:100%;
    padding-bottom: 40px;

}



strong {
    color: $teal;
}

a {
    text-decoration: none;
}

.btn-island{
  @include button($teal);
   padding-bottom: 0;
   padding-top: 20px;
   width: 100%; 
}

.islandinfo {
    padding-top: 1em;
    li {
        list-style-type: none;
    }
}

.espanola{
  @include showhide;
    
}

.fernandina{
  @include showhide;
}

.genovesa {
    @include showhide;
}

.isabela {
    @include showhide;
}

.marchena {
    @include showhide;
}

.pinta {
    @include showhide;
}
    
.sancristobal {
    @include showhide;
}

.santacruz {
    @include showhide;
}

.santiago {
    @include showhide;
}

.js-showhide{
  display: block;
}
