h5 {
    text-align: center;
    color: $off-white;
    padding-top: 3em;
}

.copyright {
    color: $off-white;
    text-align: center;
    padding: 1em;
}

.icon {
    text-align: center;

    i {
        color: $teal;
        font-size: 2em;
        margin: .25em;
        display:inline;
        
    }
}

.graph {
    display: block;
    margin: auto;
    padding-bottom: .5em;
    padding-right: 1em;
    width: 8em;
}

ul {
    list-style-type: none;
}

.stat-title {
    font-size: 1.25em;
    text-align: center;
    color: $off-white;
}

.graph-stat {
    text-align: center;
    padding-right: 3em;
    color: $off-white;
}

.address {
    text-align: center;
    padding-right: 3em;
    color: $off-white;
}

button {
    @include button($teal);
    position: relative;
    margin: 2em auto;
    right: .25em;
        a{ 
    text-decoration: none;
    color: $off-white;
    }
}

footer {
    display: block;
    background-color: $dark-green;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
}