h5 {
    text-align: center;
    color: $off-white;
    padding-top: 3em;
}

.copyright {
    color: $off-white;
    text-align: center;
    padding-bottom: 2em;
}

.icon {
    text-align: center;

    i {
        color: $teal;
        font-size: 2em;
        margin: .25em;
        display:inline;
        
    }
}

.graph {
    display: block;
    margin: auto;
    padding-bottom: .5em;
    padding-left: 1.5em;
    width: 8em;
}

ul {
    list-style-type: none;
}

.graph-stat {
    text-align: center;
    padding-right: 1.5em;
    color: $off-white;
}

.address {
    text-align: center;
    padding-right: 1.5em;
    color: $off-white;
}

button {
    @include button($teal);
}

footer {
    display: block;
    background-color: $dark-green;
    bottom: 0px;

}