body {
    margin: 0;
}

// footer

h5 {
    text-align: center;
    color: $off-white;
    padding-top: 2em;
}

.copyright {
    color: $off-white;
    text-align: center;
    padding: 2em;
    display: block;
    @media screen and (min-width: 38em) {
        text-align: right;
        padding-top: 0;
    }
}


.icon {
    text-align: center;
    
    @media screen and (min-width: 38em) {
        text-align: right;
        margin-right: 1em;
        }

    i {
        color: $teal;
        font-size: 2em;
        margin:.25em;
        display: inline;
        
            @media screen and (min-width: 38em) {
            font-size: 3em;
            margin-left: .5em;
            display: inline-block;
        }
            
    }
    
   
   
}

.graph {
    @media screen and (min-width: 38em) {
        float: left;
    }
    
}

.graph-img {
    display: block;
    margin: auto;
    padding-bottom: .5em;
    width: 8em;
    
    @media screen and (min-width: 38em) {
        margin-left: 6em; 
        padding-bottom: 1.5em;
        width: 6em;
    }
}

ul {
    list-style-type: none;
}

.stat-title {
    font-size: 1.25em;
    text-align: center;
    color: $off-white;
        @media screen and (min-width: 38em) {
        text-align: left;
        margin-left: 1.5em;
        margin-bottom: 1em;
        padding: 0;
    }
}

.graph-stat {
    text-align: center;
    padding-right: 2em;
    color: $off-white;
    @media screen and (min-width: 38em) {
        text-align: center;
        float: left;
        
    }
}

.address {
    text-align: center;
    padding-right: 3em;
    color: $off-white;
    
    @media screen and (min-width: 38em) {
        text-align: right;
    }
}

.donate-btn {
    @include button($teal);
    margin: auto;
    width: 200px;
    margin-bottom: 1em;

        a{ 
    text-decoration: none;
    color: $off-white;
    }
    
        
}

footer {
    display: block;
    background-color: $dark-green;

    padding-bottom: 0;
}
// footer