.fixednav {
    border-radius: 5px;
    position: fixed;
    top: 8em;
    width: 8em;
    padding:1em;
    padding-left: 2.2em;
    left:-5px;
    background-color: $off-white;
    a {
        color: $teal;
        text-decoration: none;
        &:hover {
        color: $dark-teal;
        }
    }
    @media only screen and (max-width: 38em){
        display:none;
    }

}

.news-section-image {
    width: 100%;
    &:hover {
        opacity: .70;
    }
}

.news-section-title {
    text-align: center;
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }
}

.news {
    padding: 2em;
    padding-left: 12em;
    text-align: left;
    @media only screen and (max-width: 38em) {
    padding: 2em;
    }
    @media only screen and (min-width: 75em) {
    padding-right: 12em;
    }
}

.news-h1 {
    text-align: center;
}

.news-img {
    width: 100%;
}

.news-h2 {
    text-align: center;
    font-size: 2em;
}

.news-h4 {
    font-size: 1em;
    color: $teal;
}

.news-h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.8889em;
    color: $teal;
}

.news-links {
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }
}