.news {
    text-align: left;
    @media only screen and (max-width: 38em) {
    padding: 2em;
    }
    @media only screen and (min-width: 75em) {
    padding-right: 12em;
    }
    h3 {
        text-align: center;
    }
    h4 {
        color: $teal;
    }
    .fixednav {
        padding-right: 1em;
    }
}

.news-h1 {
    padding-top: 1em;
    text-align: center;
}

.news-section {
    margin: 0;
    box-sizing: border-box;
}

.news-section-image {
    width: 100%;
    &:hover {
        opacity: .70;
    }
}

.news-section-title {
    text-align: center;
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }
}

.i-news {
  padding-left: 2em;
  text-align: center;
  padding-right: 2em;
  h2 {
    @include zero;
    padding-top: 10px;
    border-bottom: 1px solid $grey;
    line-height: 25px;
  }
  p {
    padding-top: 5px;
    padding-left: .5em;
    text-align: left;
  }
}

.news-img {
    width: 100%;
}

.news-h3 {
    text-align: center;
    color: $teal;
}

.news-h4 {
    text-align: center;
    color: $teal;
}

.news-h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    color: $teal;
}

.news-links {
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }
}

.news-comments {
    text-align: left;
    color: $teal;
}

.news-form {
    width: 100%;
}

.news-add-comment {
    color: $teal;
    padding-bottom: 0.5em;
}

.news-comment-box {
    padding-bottom: 0.5em;
}

.news-form-name {
    width: 100%;
    font-size: 14px;
    @media only screen and (min-width: 38em) {
    width: 50%;
    }
}

.news-form-comment {
    width: 100%;
    height: 100px;
    font-size: 14px;
}

.news-form-comments-list {
    padding: 0;
}

.news-form-list-item {
    list-style: none;
    font-size: 1.25em;
    padding: 0.5em;
    min-height: 3em;
    border-bottom: 1px dashed black;
}

.news-form-list-item:first-child {
    border-top: 1px dashed black;
}

.news-form-list-comment {
    margin: 0;
    font-size: 0.7901em;
    padding: 0;
    position: relative;
}

.news-form-list-name {
    color: $teal;
    font-size: 0.7901em;
    margin: 0;
}

.news-btn-comment {
    @include button($teal);
    width: 100px;
}