.article {
    padding: 2em;
    margin: 0;
}

.flex {
    display: block;
    width: 100%;
}

.shop-h1 {
    color: $teal;
    text-decoration: none;
    font-family: $lato;
}

.shop-h1-title {
    color: $black;
    text-decoration: none;
    font-family: $lato;
    text-align: center;
}

.shop-h2 {
    color: $pink;
}

.shop-h3 {
    color: $teal;
    text-decoration: none;
    font-family: $lato;
}

.shop-h4-title {
    color: $teal;
    text-decoration: none;
    font-family: $lato;
    text-align: center;
}

.shop-h4-adopt {
    color: $teal;
}
    
.shop-h4 {
    color: $pink;
    text-decoration: none;
    font-family: $lato;
}

.i-about {
    text-decoration: none;
}

.shop-link {
    text-decoration: none;
    color: $pink;
    &:hover {
        color: $darkpink;
    }
}

.shop-paragraph {
    color: $black;
    font-family: $lato;
}

.shop-piece {
    box-sizing: border-box;
}

.shop-piece-opacity {
        width: 100%;
    &:hover {
        opacity: .70;
    }
}