.bg{
	background-color: $white;
}

.contain{
	color: $teal;
	text-align: center;
	padding-top: .5em;
}

.input{
	height: 30px;
	width: 250px;
	margin: 5px;
	font-size: 13px;
	border: none;
	border-bottom: 1px solid $teal;
	&:focus{
	outline: none;
	border-bottom: 1px solid $pink;
	}
}

.btn-submit{
	height: 30px;
	width: 180px;
	margin: 18px auto;
	line-height: 30px;
	background-color: $teal;
	color: $off-white;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	border: 1px solid $off-white;
	&:hover{
		background-color: darken($teal, 8%);
	}
	&:focus{
		color: $off-white;
		text-decoration: none;
		list-style-type: none;
	}
	a{
		color: $off-white;
		text-decoration: none;
		list-style-type: none;
	}
}

p{
	margin: 0;
	text-align: center;
	font-size: 15px;
	a{
		color: $grey;
		text-decoration: none;
		list-style-type: none;
		&:hover{
			color: $black;
		}
	}
}

.b-0{
	margin-bottom: 0;
}

.text{
	text-align: center;
	margin: 1.5em;

	h1{
		color: $teal;
		margin: 0;
		font-size: 3em;
	}
	p{
		color: $black;
	}
}

.check{
	display: block;
	text-align: left;
	font-size: 15px;
}

@media only screen and (min-width: 32em){
	.left{
		float: left;
		padding-left: 1em;
	}

	.right{
		float: right;
	}

	.divider{
		border-right: 1px solid $grey;
		@include zero;
		padding: 1em;
	}

}
