<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Galapagos Conservancy</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/type.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
</head>

<body>
<header>
	<div class="grid">
		<nav id="navigation">

			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
				<ul>
					<li><a href="{{site.baseurl}}/about/">About</a></li>
					<li><a href="">Galapagos</a></li>
					<li><a href="">Conservation</a></li>
					<li><a href="{{site.baseurl}}/news/">News</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="{{site.baseurl}}/donate/">Donate</a></li>
				</ul>
			</div>

		</nav>
	</div>
</header>    

<main id="main">
	{{content}}
</main>
 
<footer id="footer">
	<div class="grid">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
			<i class="icon-facebook"></i>
			<i class="icon-twitter"></i>
			<i class="icon-youtube"></i>
			<i class="icon-instagram"></i>
			<i class="icon-heart"></i>
		</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
		<p>©2016 Galapagos Conservancy</p>
	</div>

	</div> <!-- /grid -->
</footer>  
    
</body>
</html>