<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Galapagos Conservancy</title>
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
</head>

<body>
<header>
	<div class="grid">
		<nav id="navigation">

			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
				<ul>
					<li><a href="{{site.baseurl}}/about/">About</a></li>
					<li><a href="{{site.baseurl}}/galapagos/">Galapagos</a></li>
					<li><a href="{{site.baseurl}}/conservation/">Conservation</a></li>
					<li><a href="{{site.baseurl}}/news/">News</a></li>
					<li><a href="{{site.baseurl}}/shop/">Shop</a></li>
					<li><a href="{{site.baseurl}}/donate/">Donate</a></li>
				</ul>
			</div>

		</nav>
	</div>
</header>    

<main id="main">
	{{content}}
</main>
 
<footer id="footer">
    <h5>Sign Up for Latest News</h5>
    <a href="{{site.baseurl}}/donate/">Donate</a>
    <div class="">

        <img class="graph" src="{{site.baseurl}}/img/fundinggraph.svg " alt="funding graph">

        <p>75% Grants and Conservation</p>
        <p>19% Fundraising</p>
        <p>06% Management</p>
    </div>
    
    <ul class="address">
        <li>Galapagos Conservancy</li>
        <li>11150 Fairfax Boulevard</li>
        <li>Suite 408</li>
        <li>Fairfax, VA, USA</li>
    </ul>
    
	<div class="grid">
		<div class="icon unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
			<i class="icon-facebook"></i>
			<i class="icon-twitter"></i>
			<i class="icon-youtube"></i>
			<i class="icon-instagram"></i>
			<i class="icon-heart"></i>
		</div>

	<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
		<small>©2016 Galapagos Conservancy</small>
	</div>

	</div> <!-- /grid -->
</footer>  
    
</body>
</html>