<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Galapagos Conservancy</title>
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
</head>

<body>
<header>
	<div class="grid">
		<nav id="navigation">

			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
				<ul>
					<li><a href="{{site.baseurl}}/about/">About</a></li>
					<li><a href="{{site.baseurl}}/galapagos/">Galapagos</a></li>
					<li><a href="{{site.baseurl}}/conservation/">Conservation</a></li>
					<li><a href="{{site.baseurl}}/news/">News</a></li>
					<li><a href="{{site.baseurl}}/shop/">Shop</a></li>
					<li><a href="{{site.baseurl}}/donate/">Donate</a></li>
				</ul>
			</div>

		</nav>
	</div>
</header>    

<main id="main">
	{{content}}
</main>
 
<footer id="footer">
    <h5>Sign Up for Latest News</h5>
    <button><a href="{{site.baseurl}}/donate/">Donate</a> </button>
    <div class=""> 
        
        <p class="stat-title">How Your Donations Help</p>

        <img class="graph" src="{{site.baseurl}}/img/fundinggraph.svg " alt="funding graph">

        <ul class="graph-stat">
           
            <li>75% Grants and Conservation</li>
            <li>19% Fundraising</li>
            <li>06% Management</li>
        </ul>
        
    </div>
    
    <ul class="micro address">
        <li>Galapagos Conservancy</li>
        <li>11150 Fairfax Boulevard</li>
        <li>Suite 408</li>
        <li>Fairfax, VA, USA</li>
    </ul>
    

		<div class="icon">
            <a style="text-decoration: none;" href="https://www.facebook.com/GalapagosConservancy/"><i class="icon-facebook"></i></a>
            <a style="text-decoration: none;" href="https://twitter.com/SaveGalapagos"><i class="icon-twitter"></i></a>
            <a style="text-decoration: none;" href="https://www.youtube.com/user/GalapagosConservancy"><i class="icon-youtube"></i></a>
            <a style="text-decoration: none;" href="https://www.instagram.com/galapagosconservancy/"><i class="icon-instagram"></i></a>

		</div>

	<div class="copyright">
		<p class=" micro">©2016 Galapagos Conservancy</p>
	</div>

 <!-- /grid -->
</footer>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script src="js/push-menu.js"></script>   
</body>
</html>